.ba-contact-form{
  max-width: 730px;
  margin: 70px auto 0;

  &__input{
    flex-grow: 1;
    width: 302px;
    min-width: 100px;
    background: none;
    border-bottom: 2px solid #afafaf;
    font-size: 18px;
    line-height: 40px;
    font-style: italic;
    margin: 0 60px 100px 0;
    padding-left: 25px;

    &:nth-child(3){
      width: 670px;
    }
  }
  &__submit{
    width: 177px;
    height: 54px;
    background: none;
    border: 3px solid $text-color;
    font-size: 24px;

    &:hover{
      box-shadow: inset 1px 1px 1px 0 #aaa;
      transform: translateY(1px);
    }
  }
}

::-webkit-input-placeholder {color:#676767;}
::-moz-placeholder          {color:#676767;}
:-moz-placeholder           {color:#676767;}
:-ms-input-placeholder      {color:#676767;}