@import "contact-form.scss";

.ba-contact {
  background: url("../img/footer-bg.jpg") 50% no-repeat;
  background-size: cover;
  text-align: center;
  padding: 103px 0 122px;

  hr {
    background-color: $text-color;
    margin: 54px auto 60px;
  }
  &__social-icon {
    padding: 15px;
    color: $text-color;

    &:hover {
      border-radius: 50%;
      border-top: 2px dotted $text-color;
    }
  }
}

@media all and (max-width: 330px){
  .ba-contact__social-icon{
    padding: 10px;
  }
}